
# HW - 1
Alex Matov

Leave the output of the program as a comment during the submission.

Objective: Overview of Pythonâ€™s decision structure, iterative structure, and functions.

(5 points) Generate 5 random numbers whose values are between 1 and 20. However, skip the number if the random number generated is equal to 13. You must use loops (either for loop or while loop) to solve this problem.

You should still print 5 random numbers even if you skip the number 13.

In [3]:
import random

printedCount = 0

while printedCount < 5:
  generatedNum = random.randint(1, 20)

  if generatedNum != 13:
    print(generatedNum)
    printedCount+= 1

7
8
4
12
9

(10 points)  Write a python script to generate multiplication tables for the numbers 5 to 9. And each multiplication table should go from 1 to 10. You must use loops (either for loop or while loop) to solve this problem.

For example, your first multiplication table will be as follows

5 x 1 = 5

5 x 2 = 10

...

5 x 10 = 50

And your last multiplication table will be as follows.

9 x 1 = 9

9 x 2 = 18

...

9 x 10 = 90

In [8]:
for x in range(1, 11):
  table = ""
  for y in range(5, 10):
    table += (str(y) + " x "+ str(x) + " = " + str(x*y) + "\t")
  print(table, "\n")

5 x 1 = 5	6 x 1 = 6	7 x 1 = 7	8 x 1 = 8	9 x 1 = 9

5 x 2 = 10	6 x 2 = 12	7 x 2 = 14	8 x 2 = 16	9 x 2 = 18

5 x 3 = 15	6 x 3 = 18	7 x 3 = 21	8 x 3 = 24	9 x 3 = 27

5 x 4 = 20	6 x 4 = 24	7 x 4 = 28	8 x 4 = 32	9 x 4 = 36

5 x 5 = 25	6 x 5 = 30	7 x 5 = 35	8 x 5 = 40	9 x 5 = 45

5 x 6 = 30	6 x 6 = 36	7 x 6 = 42	8 x 6 = 48	9 x 6 = 54

5 x 7 = 35	6 x 7 = 42	7 x 7 = 49	8 x 7 = 56	9 x 7 = 63

5 x 8 = 40	6 x 8 = 48	7 x 8 = 56	8 x 8 = 64	9 x 8 = 72

5 x 9 = 45	6 x 9 = 54	7 x 9 = 63	8 x 9 = 72	9 x 9 = 81

5 x 10 = 50	6 x 10 = 60	7 x 10 = 70	8 x 10 = 80	9 x 10 = 90

(10 points) Write a script that calculates the squares and cubes of the numbers from 1 to 5. You must use loops (either for loop or while loop) to solve this problem.

Print the resulting values in a table format, as shown below. Use the tab escape sequence to achieve the three-column output.

number                     square                       cube

1                            1                           1            

2                            4                           8

3                            9                           27

4                            16                          64

5                            25                          125

In [9]:
print("number\tsquare\tcube")
for x in range(1, 5):
  print(x, "\t", x**2, "\t", x**3)

number	square	cube
1 	 1 	 1
2 	 4 	 8
3 	 9 	 27
4 	 16 	 64