(5 points) Generate 5 random numbers whose values are between 1 and 20. However, skip the number if the random number generated is equal to 13. You must use loops (either for loop or while loop) to solve this problem.

You should still print 5 random numbers even if you skip the number 13.

In [54]:
#@title Part 1 of HW 1
import random
x = 1
while  x <6:  
  some_integer = random.randint(1, 20)
  x = x + 1
  if (some_integer == 13):
    x = x-1
    continue
  print(some_integer)

8
8
1
19
16

## Part 2 of HW1 
(10 points) Write a python script to generate multiplaction tables for the numbers 5 to 9.

In [19]:
x = 5
while x < 10:
  y = 1
  while y < 11:
    print(x, "x" , y , "=",(x * y))
    y = y + 1
  x = x + 1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
7 x 10 = 70
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90

In [56]:
#@title Part 3 of HW 1

(10 points) Write a script that calculates the squares and cubes of the numbers from 1 to 5. You must use loops (either for loop or while loop) to solve this problem.

Print the resulting values in a table format, as shown below. Use the tab escape sequence to achieve the three-column output.

number               square                 cube

1                            1                            1            

2                            4                            8

3                            9                            27

4                            16                          64

5                             25                          125

In [57]:
print ("number ", "square ", "cube")
for x in range (1,6):
  print(x,"\t", x**2,"\t", x**3)

number  square  cube
1 	 1 	 1
2 	 4 	 8
3 	 9 	 27
4 	 16 	 64
5 	 25 	 125